@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url(/node_modules/normalize.css/normalize.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper-all {
  opacity: 0;
  transition: opacity .4s linear;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.7px;
  background-color: #000;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.second-tittle {
  padding-top: 100px;
  font-family: "Krona One", sans-serif;
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
  font-size: 60px;
  text-align: center;
}

.btn {
  padding: 20px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  transition: 0.5s;
  font-size: 24px;
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  transform: rotate(180deg);
}

.intro {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.intro-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 100vh;
  transition: all 0.2s linear;
  filter: contrast(1.3) brightness(0.6);
}

.intro-media:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.intro-media__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.intro-content {
  z-index: 10;
  position: relative;
  right: 25%;
  margin: 0 auto;
}

.intro-content h1 {
  font-size: 72px;
  letter-spacing: 2px;
  font-family: "Krona One", sans-serif;
  color: #fff;
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
}

.intro-content p {
  margin: 0;
  font-size: 50px;
  font-family: "Yellowtail", cursive;
  color: #000;
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
}

.person {
  position: relative;
}

.svg-continer {
  position: absolute;
  right: 0;
  top: 660px;
  z-index: -3;
}

.svg-continer2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.person-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.person-info {
  max-width: 610px;
}

.person-img {
  text-align: center;
  width: 70%;
}

.person__img {
  max-width: 90%;
}

.person-info h3 {
  padding-bottom: 5px;
  color: #000;
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
}

.person__list li {
  margin: 15px 0;
}

.person__list span {
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
  color: #000;
}

.works {
  margin-top: -5px;
  position: relative;
  overflow-x: hidden;
}

.gallery-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.gallery-nav__block {
  margin-left: 70px;
}

.gallery-nav__block a {
  color: #000;
  font-size: 30px;
  transition: all 0.3s ease;
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
}

.gallery-nav__block a:hover {
  text-shadow: 2px 0 0 #03e9f4, -2px 0 0 #03e9f4, 0 2px 0 #03e9f4, 0 -2px 0 #03e9f4, 1px 1px #03e9f4, -1px -1px 0 #03e9f4, 1px -1px 0 #03e9f4, -1px 1px 0 #03e9f4;
}

.gallery-nav__block.active a {
  text-shadow: 2px 0 0 #03e9f4, -2px 0 0 #03e9f4, 0 2px 0 #03e9f4, 0 -2px 0 #03e9f4, 1px 1px #03e9f4, -1px -1px 0 #03e9f4, 1px -1px 0 #03e9f4, -1px 1px 0 #03e9f4;
  border-bottom: 3px solid #03e9f4;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 120px 0;
  transition: all 0.2s linear;
  overflow: hidden;
}

.gallery-box {
  width: 250px;
  max-width: 250px;
  height: 275px;
  margin: 2px;
  position: relative;
  text-align: center;
  z-index: 1;
  transition: all 0.2s linear;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
  overflow: hidden;
}

.gallery-box:hover {
  transform: rotate(180deg);
}

.gallery-box:hover .galery-box__content {
  opacity: 1;
}

.box__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.gallery-box::before,
.gallery-box::after,
.box__img {
  top: -50%;
  width: 105%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1;
}

.galery-box__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s linear;
}

.galery-box__content-btn {
  padding-bottom: 30px;
}

.wb-active {
  box-shadow: 0 14px 28px #03e9f4, 0 10px 10px #03e9f4;
}

.wb-active .works-box__content {
  opacity: 1;
}

.footer {
  margin-top: -5px;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/foo2.png");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(0.7);
  min-height: 490px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  filter: brightness(1.2);
}

.footer-title {
  text-shadow: 2px 0 0 #e724bd, -2px 0 0 #e724bd, 0 2px 0 #e724bd, 0 -2px 0 #e724bd, 1px 1px #e724bd, -1px -1px 0 #e724bd, 1px -1px 0 #e724bd, -1px 1px 0 #e724bd;
  color: #000;
  font-size: 34px;
}

.footer-box {
  padding-top: 30px;
}

.footer-box p {
  margin: 0;
}

.footer-social__link {
  display: flex;
  align-items: center;
}

.icon-telegram,
.icon-linedin {
  width: 24px;
  height: 24px;
}

.row-social {
  margin-left: 10px;
  color: var(--color);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

:root {
  --shimmy-distance: 5;
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 3%, 6%);
  --black: hsl(0, 0%, 5%);
  --font-size: 18px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
}

.cybr-btn {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --shadow-primary-alpha: hsla(var(--shadow-primary-hue), 90%, 50%, 0.5);
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  font-family: "Cyber", sans-serif;
  position: relative;
  text-transform: uppercase;
  background: #e724bd;
  font-size: var(--font-size);
  outline: transparent;
  border: 0;
  display: flex;
  align-items: center;
  min-width: 180px;
  -webkit-clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  padding: 16px 40px;
  box-shadow: -2px 0 1px 0px inset var(--shadow-primary);
  transition: background 0.1s ease;
}

.cybr-btn:hover .cybr-btn__text:after,
.cybr-btn:hover .cybr-btn__glitch:after {
  display: block;
}

.cybr-btn:hover {
  --primary-lightness: 40;
}

.cybr-btn:active {
  --primary-lightness: 30;
}

.cybr-btn__glitch {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(-2px 2px var(--shadow-primary)) drop-shadow(-1px -1px var(--shadow-primary-alpha)) drop-shadow(2px 2px var(--shadow-primary));
}

.cybr-btn__glitch:after {
  display: none;
  background: #e724bd;
  -webkit-animation: shimmy-text 2s infinite alternate ease-in-out;
  animation: shimmy-text 2s infinite alternate ease-in-out;
  content: "";
  height: 98%;
  width: 98%;
  position: absolute;
  top: 1%;
  left: 1%;
}

.cybr-btn__text {
  color: var(--color);
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.cybr-btn__text:after {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(data-text);
  color: var(--color);
  filter: brightness(1);
  -webkit-animation: shimmy-text 2s infinite alternate ease-in-out;
  animation: shimmy-text 2s infinite alternate ease-in-out;
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
}

@-webkit-keyframes shimmy-text {
  0% {
    -webkit-clip-path: inset(2% 0 95% 0);
    clip-path: inset(2% 0 95% 0);
  }

  2%, 8% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(0, 0);
  }

  10% {
    -webkit-clip-path: inset(44% 0 46% 0);
    clip-path: inset(44% 0 46% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    -webkit-clip-path: inset(44% 0 46% 0);
    clip-path: inset(44% 0 46% 0);
    transform: translate(0, 0);
  }

  14%, 21% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  15%, 20% {
    -webkit-clip-path: inset(40% 0 60% 0);
    clip-path: inset(40% 0 60% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    -webkit-clip-path: inset(40% 0 15% 0);
    clip-path: inset(40% 0 15% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    -webkit-clip-path: inset(40% 0 15% 0);
    clip-path: inset(40% 0 15% 0);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%, 45% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(0, 0);
  }

  55% {
    -webkit-clip-path: inset(0 0 90% 0);
    clip-path: inset(0 0 90% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    -webkit-clip-path: inset(0 0 90% 0);
    clip-path: inset(0 0 90% 0);
    transform: translate(0, 0);
  }

  31%, 61%, 100% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
}

@keyframes shimmy-text {
  0% {
    -webkit-clip-path: inset(2% 0 95% 0);
    clip-path: inset(2% 0 95% 0);
  }

  2%, 8% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    -webkit-clip-path: inset(78% 0 0 0);
    clip-path: inset(78% 0 0 0);
    transform: translate(0, 0);
  }

  10% {
    -webkit-clip-path: inset(44% 0 46% 0);
    clip-path: inset(44% 0 46% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    -webkit-clip-path: inset(44% 0 46% 0);
    clip-path: inset(44% 0 46% 0);
    transform: translate(0, 0);
  }

  14%, 21% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  15%, 20% {
    -webkit-clip-path: inset(40% 0 60% 0);
    clip-path: inset(40% 0 60% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    -webkit-clip-path: inset(40% 0 15% 0);
    clip-path: inset(40% 0 15% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    -webkit-clip-path: inset(40% 0 15% 0);
    clip-path: inset(40% 0 15% 0);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%, 45% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    -webkit-clip-path: inset(63% 0 20% 0);
    clip-path: inset(63% 0 20% 0);
    transform: translate(0, 0);
  }

  55% {
    -webkit-clip-path: inset(0 0 90% 0);
    clip-path: inset(0 0 90% 0);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    -webkit-clip-path: inset(0 0 90% 0);
    clip-path: inset(0 0 90% 0);
    transform: translate(0, 0);
  }

  31%, 61%, 100% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
}

@media (max-width: 992px) {
  .intro-content {
    z-index: 10;
    position: static;
    margin: 0 auto;
  }

  .person-wrapper {
    flex-direction: column;
  }

  .person-img {
    order: -1;
  }

  .person__img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .second-tittle {
    padding-top: 70px;
  }

  .person__img {
    max-width: 70%;
  }

  .works-wrapper {
    padding: 20px 0 80px;
  }
}

@media (max-width: 745px) {
  .future {
    display: none;
  }

  .works-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .works-box {
    margin: 30px 0;
  }
}

@media (max-width: 680px) {
  .gallery-nav {
    flex-direction: column;
  }

  .gallery-nav__block {
    margin-left: 0;
    padding-bottom: 15px;
  }

  .gallery-wrapper {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .intro-content h1 {
    font-size: 62px;
  }

  .person-info h3 {
    font-size: 18px;
  }

  .person__list {
    font-size: 18px;
  }

  .person__img {
    max-width: 80%;
  }
}

@media (max-width: 490px) {
  .cybr-btn {
    font-size: 13px;
    outline: transparent;
    border: 0;
    display: flex;
    align-items: center;
    min-width: 126px;
    padding: 16px 13px;
  }
}

@media (max-width: 423px) {
  .footer-box {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .intro-content h1 {
    font-size: 52px;
  }

  .intro-content p {
    font-size: 45px;
  }
}

@media (max-width: 390px) {
  .person-info h3 {
    font-size: 16px;
  }

  .person__list {
    font-size: 16px;
  }

  .person__img {
    max-width: 100%;
  }
}

@media (max-width: 350px) {
  .gallery-nav__block a {
    font-size: 25px;
  }

  .footer-box {
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .intro-content h1 {
    font-size: 48px;
  }

  .intro-content p {
    font-size: 35px;
  }
}