*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: rgba(155, 0, 250, 1) ;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center; 
}

.app{
    padding: 100px 20px;
    width: 450px;
    border: 2px solid rgba(155, 0, 250, 1) ;
}

.app h1{
    text-align: center;
}

.app-type{
    display: flex;
    justify-content: space-between;
}
.form-group{
    margin: 20px 0;
}

.form-group__area{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.area{
    background-color: transparent;
    border: 2px solid rgba(155, 0, 250, 1);
    color: #fff;
    resize: none;
}

.form-group__area label {
    margin-bottom: 10px;
    font-size: 20px;
}

.btn{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

